<a href="https://www.flaticon.com/free-icons/database" title="database icons"
  >Database icons created by srip - Flaticon</a
>
<a href="https://www.flaticon.com/free-icons/detective" title="detective icons"
  >Detective icons created by Freepik - Flaticon</a
>
<a href="https://www.flaticon.com/free-icons/antivirus" title="antivirus icons"
  >Antivirus icons created by Eucalyp - Flaticon</a
>
<a href="https://www.flaticon.com/free-icons/send" title="send icons"
  >Send icons created by itim2101 - Flaticon</a
>
<a href="https://www.flaticon.com/free-icons/forward" title="forward icons"
  >Forward icons created by itim2101 - Flaticon</a
>
<a href="https://www.flaticon.com/free-icons/linux" title="linux icons"
  >Linux icons created by Freepik - Flaticon</a
>
<a href="https://www.flaticon.com/free-icons/desktop" title="desktop icons"
  >Desktop icons created by Eucalyp - Flaticon</a
>
<a href="https://www.flaticon.com/free-icons/gps" title="gps icons"
  >Gps icons created by srip - Flaticon</a
>
<a href="https://www.flaticon.com/free-icons/phone" title="phone icons"
  >Phone icons created by Pixel perfect - Flaticon</a
>
<a href="https://www.flaticon.com/free-icons/question" title="question icons"
  >Question icons created by Freepik - Flaticon</a
><a
  href="https://www.flaticon.com/free-icons/conversation"
  title="conversation icons"
  >Conversation icons created by Kiranshastry - Flaticon</a
><a href="https://www.flaticon.com/free-icons/24-hours" title="24 hours icons"
  >24 hours icons created by Freepik - Flaticon</a
>
<a href="https://www.flaticon.com/free-icons/question" title="question icons"
  >Question icons created by Those Icons - Flaticon</a
>
